<% form_tag session_path do -%>
<label for="email">Email<br/>
<%= text_field_tag 'email' %></label>

<label for="password">Password<br/>
<%= password_field_tag 'password' %></label>

<!-- Uncomment this if you want this functionality
<p><label for="remember_me">Remember me:</label>
<%= check_box_tag 'remember_me' %></p>
-->

<p><%= submit_tag 'Log in', :title => "Logging in..." %></p>
<% end -%>
