<h1>Listing comments</h1>

<h3>Good Comments</h3>
<%= render :partial => "comment", :collection => @hams %>
<%= "<p>No good comments found.</p>" if @hams.empty? %>

<h3>Spammy Comments</h3>
<%= render :partial => "comment", :collection => @spams %>
<%= "<p>No spammy comments found.</p>" if @spams.empty? %>