#admin {
  background: black;
  padding: 0.3em 0.6em 0.2em;
  margin-bottom: -1em;
  font-size: 11px;
  color: white;
  text-align: left;
  border-bottom: 1px #ccc solid;
}

#admin strong {
  margin-left: 1em;
}

#admin a {
  color: white;
  margin-left: 1em;
  padding: 0 0.2em;
  margin-top: -0.1em;
}

#admin a:hover {
  background: white;
  color: black;
  text-decoration: none;
}

#admin #logoutLinks {
  float: right;
}

#admin hr {
  clear: both;
  visibility: hidden;
  margin: 0;
  padding: 0;
}

/* CSS for new and edit pages */

#all.admin {
  width: 600px;
}

#all.admin label {
  width: 600px;
}

/* Edit in place links */

.editable {
  padding: 0;
  color: #202020;
}

.editable:hover {
  background: #ffc;
  color: #202020;
}

.editor {
  margin-top: 0;
  text-align: right;
}

.editor textarea {
  width: 99%;
}

.editor a {
  font-size: 12px;
  padding: 4px;
}

.editor a:hover {
  background: transparent;
  color: #202020;
}

#post_allow_comments {
  width: 15px;
  height: 15px;
}