* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  font-family: Lucida Grande, Arial, Tahoma, sans-serif;
  font-size: 16px;
  color: #1a1a1a;
}

.left { float: left; }
.right { float: right; }

h1, h2, h3, h4, h5, h6 {
  margin: 0.5em 0;
}

ul, ol {
  font-size: 12px;
}

p {
  margin: 1em 0;
  font-size: 14px;
  line-height: 1.5em;
}

a {
  color: #0af;
  text-decoration: none;
  padding: 0.1em 0.2em;
}

a.active {
  text-decoration: underline;
}

a:hover {
  background: black;
  color: white;
}

label {
  display: block;
  font-size: 12px;
  width: 400px;
  margin: 1em 0;
}

label input {
  width: 100%;
  font-size: 20px;
  font-weight: bold;
}

label textarea {
  width: 100%;
  font-size: 14px;
  padding: 0.2em;
}

#all {
  text-align: left;
  margin: 0 auto;
  width: 500px;
  padding: 0 0 2em;
}

#header {
  margin: 0 0 1em 0;
}

#header h1 {
  font-size: 36px;
  font-family: Georgia, Times, serif;
  margin-bottom: 0;
  text-shadow: 1px 1px 1px #ccc;
}

#header h1 a {
  color: #0af;
}

#header h1 a:hover {
  background: white;
  text-decoration: underline;
}

#header h1 a span {
  color: black;
}

#header h2 {
  font-size: 18px;
  font-family: Georgia, Times, serif;
  font-weight: normal;
}

/*------------------------------------------------------------
  General Post styles */

#posts > div {
  padding: 1em 0 1em 0;
  border-top: 1px solid #dfdfdf;
  clear: both;
}

#posts div .date {
  float: left;
  width: 55px;
  margin-left: -76px;
  margin-top: 6px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  background: #eee;
  padding: 0.2em 0;
  text-shadow: 1px 1px 1px #ccc;
}

#posts div h3 {
  font-size: 22px;
  text-shadow: 1px 1px 1px #ccc;
}

#posts div h3 a {
  color: #0af;
}

#posts div h3 a:hover {
  background: white;
  text-decoration: underline;
}

#posts div h3 a span {
  color: black;
}

.pagination {
  font-size: 12px;
}

.pagination > * {
  margin-right: 0.3em;
  padding: 0.3em 0.5em;
}

.pagination > .current {
  background: black;
  color: white;
}

.pagination .disabled {
  color: #c0c0c0;
}

/*------------------------------------------------------------
  Article styles */

.article h3 {
  margin-top: 0;
}

.article .meta {
  font-size: 12px;
  margin-bottom: 1em;
  text-align: right;
}

/*------------------------------------------------------------
  Quote styles */

.quote blockquote {
  background: transparent url(/images/quote.png) no-repeat;
  font-size: 20px;
  font-style: oblique;
  font-weight: bold;
  font-family: Georgia, Times, serif;
  padding: 0 1em 0 2.3em;
  margin-bottom: 0.5em;
}

.quote cite {
  display: block;
  text-align: right;
  font-style: normal;
  font-size: 12px;
}

.quote blockquote a {
  color: #373737;
  padding: 0;
}

.quote blockquote a:hover {
  text-decoration: underline;
  background: white;
}

.quote blockquote a span {
  color: #0af;
}

/*------------------------------------------------------------
  Tweet styles */

.tweet blockquote {
  background: transparent url(/images/tweet.png) no-repeat;
  font-size: 20px;
  font-style: oblique;
  font-weight: bold;
  font-family: Georgia, Times, serif;
  padding: 0 1em 0 2.3em;
  margin-bottom: 0.5em;
}

.tweet cite {
  display: block;
  text-align: right;
  font-style: normal;
  font-size: 12px;
}

.tweet blockquote a {
  color: #373737;
  padding: 0;
}

.tweet blockquote a:hover {
  text-decoration: underline;
  background: white;
}

.tweet blockquote a span {
  color: #0af;
}

/*------------------------------------------------------------
  Link styles */

.link blockquote {
  background: transparent url(/images/link.png) no-repeat;
  font-size: 30px;
  font-style: oblique;
  font-weight: bold;
  font-family: Georgia, Times, serif;
  padding: 0 1em 0 1.3em;
  margin-bottom: 0.5em;
}

.link cite {
  display: block;
  text-align: right;
  font-style: normal;
  font-size: 12px;
}

.link blockquote a {
  color: #373737;
  padding: 0;
}

.link blockquote a:hover {
  text-decoration: underline;
  background: white;
}

.link blockquote a span {
  color: #0af;
}

/*------------------------------------------------------------
  Picture styles */

.picture img {
  margin: 6px 0 0.5em;
}

.picture cite {
  display: block;
  text-align: right;
  font-style: normal;
  font-size: 12px;
}

/*------------------------------------------------------------
  Comment styles */

#comments form, #comments {
  margin-top: 3em;
}

#comments label, #comments label input[type="text"] {
  width: 100%;
  font-weight: normal;
  padding: 0.2em;
}

#comments label textarea {
  height: 150px;
  font-size: 20px;
  padding: 0.2em;
}

#comments .fieldWithErrors input[type="text"], #comments .fieldWithErrors textarea {
  width: 100%;
  outline: 3px solid #f94;
}

#comments .comment {
  padding-bottom: 0.5em;
  border-bottom: 1px solid #dfdfdf;
}
