<div id="admin">
  <span id="logoutLinks">
    <a href="#" id="logout">Logout</a>
    <span id="confirm" style="display:none">
      Are you sure: 
      <a href="/logout">Yes</a>
      <a href="#">No</a>
    </span>
  </span>    
  <strong>Admin Links: </strong>
  <%= link_to "Create a Post", new_post_path %>
  <a href="#">Add a Feed</a>
  <a href="#">Add a User</a>
  <a href="#">Tweet from Here</a>
  <a href="#">Comments</a>
  <a href="#">Syndication</a>
  <a href="#">Refresh Feeds</a>
  <a href="#">Personal Info</a>
  <a href="#">Advanced Options</a>
  <hr>
</div>