<div id="article" class="panel">
  <h1>New Article</h1>
  <% form_for(@post) do |f| %>
    <label for="header">
      Title<br />
      <%= f.text_field :header %>
    </label>

    <label for="content">
      Body<br />
      <%= f.text_area :content %>
    </label>

    <p>
      <%= f.submit "Create" %>
    </p>
  <% end %>
</div>