<div id="quote" class="panel">
  <h1>New Quote</h1>
  <% form_for(@post) do |f| %>
    <label for="content">
      Quote<br>
      <%= f.text_field :content %>
    </label>

    <label for="cite">
      Who said it? (optional)<br>
      <%= f.text_field :cite %>
    </label>
    
    <%= f.hidden_field :type, :value => 'Quote' %>

    <p>
      <%= f.submit "Create" %>
    </p>
  <% end %>
</div>