development: &dev
  site_title: "AintaBlog"
  site_name: "AintaBlog: a blog"
  site_tagline: "When all else fails, use aintablog on the stain."
  user_email: "test@example.com"
  import_twitter_replies: false
  use_defensio: false
  feedburner:
    all: # http://feeds.feedburner.com/your-feed-all-posts
    links: # http://feeds.feedburner.com/your-feed-links
    articles: # http://feeds.feedburner.com/your-feed-articles
    snippets: # http://feeds.feedburner.com/your-feed-snippets

dev_cached:
  <<: *dev

test:
  site_title: "AintaBlog"
  site_name: "AintaBlog: a blog"
  site_tagline: "When all else fails, use aintablog on the stain."
  user_email: "test@example.com"
  import_twitter_replies: true
  use_defensio: false
  feedburner:
    all: # http://feeds.feedburner.com/your-feed-all-posts
    links: # http://feeds.feedburner.com/your-feed-links
    articles: # http://feeds.feedburner.com/your-feed-articles
    snippets: # http://feeds.feedburner.com/your-feed-snippets

production:
  site_title: "AintaBlog"
  site_name: "AintaBlog: a blog"
  site_tagline: "When all else fails, use aintablog on the stain."
  user_email: "test@example.com"
  import_twitter_replies: true
  use_defensio: true
  feedburner:
    all: # http://feeds.feedburner.com/your-feed-all-posts
    links: # http://feeds.feedburner.com/your-feed-links
    articles: # http://feeds.feedburner.com/your-feed-articles
    snippets: # http://feeds.feedburner.com/your-feed-snippets