<% content_for :header do %>
<h1><a href="/"><span>Hi, My name is Pat.</span></a></h1>
<h2>Aggregating and aggravating since 1986.</h2>
<% end %>

<div id="posts">
  <% @posts.each do |post| -%>
  <div id="post_<%= post.id %>" class="<%= post.type.downcase %> hentry">
    <%= partial_for(post) %>
  </div>
  <% end -%>
</div>

<%= will_paginate(@posts) %>