<% content_for :header do %>
<h1><a href="/"><span>Hi, My name is Pat.</span></a></h1>
<h2>Aggregating and aggravating since 1986.</h2>
<% end %>

<div id="posts">
  <div id="post_<%= @post.id %>" class="<%= @post.type.to_s.downcase %>">
    <%= partial_for(@post) %>
  </div>
</div>

