<% content_for :title do -%>“<%=h @post.header %>” at <% end -%>
<% content_for :header do %>
<h1><a href="/"><span>AintaBlog</span></a></h1>
<h2>When all else fails, use aintablog on the stain.</h2>
<% end %>

<div id="posts">
  <div id="post_<%= @post.id %>" class="<%= @post.type.to_s.downcase %>">
    <%= partial_for(@post) %>
  </div>
</div>

