<div class="date">
  <span class="month">Jun</span>
  <span class="day">15</span>
</div>
<img src="http://farm3.static.flickr.com/2131/2314699667_e4b3ef6da7.jpg">
<small>MTA Practical Jokes</small>
<cite>&#x2010; Posted from <a href="#">flickr</a></cite>